
ion-button {
    --color: #fff
}

.fancy-button {
    --background: red;
  }
.padding{
    margin-top: 50%;
}
.container{
   text-align: center;
   margin-top: auto;
}

.img{
    width: 75%;
    height: auto;
    margin-left: 4rem;
}
ion-card{
    background-color: #d9d9d9;
}

ion-icon{
    margin-left: 18rem;
}
